aiocache==0.12.2
aiofiles==24.1.0
aiohttp==3.10.3
allennlp==0.2.1
asyncio==3.4.3
faiss-cpu==1.8.0
flair==0.14.0
huggingface-hub==0.24.3
lxml==5.2.2
nltk==3.8.1
numpy==1.26.4
openai
pandas==2.2.2
psycopg2-binary
scikit-learn==1.5.1
scipy==1.14.0
sentence-transformers==3.0.1
spacy==3.7.6
sqlalchemy==2.0.32
streamlit==1.37.1
tenacity==8.5.0
torch==2.4.0
tqdm==4.66.4
transformers==4.44.0
typing-extensions==4.11.0
ujson==5.10.0