aiocache
aiofiles
aiohttp
allennlp
asyncio
celery
faiss-cpu
fastapi
flair
huggingface-hub
lxml
nltk
numpy
openai
pandas
psycopg2-binary
redis
scikit-learn
scipy
sentence-transformers
spacy
sqlalchemy
streamlit
tenacity
torch
tqdm
transformers
typing-extensions
ujson
uvicorn